name: CMake CI

on:
  push:
    branches: [ "main" ]
  pull_request:


    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install CMake
      run: sudo apt-get update && sudo apt-get install -y cmake g++

    - name: Create plugins folder
      run: mkdir -p plugins

    - name: Configure
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build

    - name: Verify outputs
      run: ls -la build/bin
