name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    name: Build and Release on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build_type: [Release]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.16.x'

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }}

    - name: Package artifacts (Linux/macOS)
      if: runner.os != 'Windows'
      run: |
        cd build/bin
        tar -czf cs_sdk-${{ runner.os }}.tar.gz *
        mv cs_sdk-${{ runner.os }}.tar.gz ../..

    - name: Package artifacts (Windows)
      if: runner.os == 'Windows'
      run: |
        cd build/bin
        7z a -tzip cs_sdk-Windows.zip *
        move cs_sdk-Windows.zip ../..
      shell: cmd

    - name: Create Release and Upload Assets
      uses: softprops/action-gh-release@v1
      with:
        files: |
          cs_sdk-*.tar.gz
          cs_sdk-*.zip
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
